@{
    ViewData["Title"] = "Purchase Successful";
}

<div class="container mt-5 text-center">
    <h2>Thank you for your purchase!</h2>
    <p style="font-size: 0.85em; color: #888; text-align: center;">
        Thank you for your contribution. All uploads, purchases and transactions performed on this website have a 5% commission fee to the website’s host, to cover expenses making this project possible. Therefore, you will be charged / paid as such. For additional information, contact serenatvarol@gmail.com.
    </p>
    <p class="mt-3">
        <a href="@Url.Action("Index", "Browse")">Browse more items</a>
    </p>
</div> 