@{
    ViewData["Title"] = "Success";
    var type = ViewBag.Type as string;
}
<div class="container text-center mt-5">
    <h2>
        @(type == "artwork" ? "Thank you for your upload!" : "Thank you for your music upload!")
    </h2>
    <p style="font-size: 0.85em; color: #888; text-align: center;">
        Thank you for your contribution. All uploads, purchases and transactions performed on this website have a 5% commission fee to the website’s host, to cover expenses making this project possible. Therefore, you will be charged / paid as such. For additional information, contact serenatvarol@gmail.com.
    </p>
    <a href="@Url.Action("Index", "Browse")" class="btn btn-primary mt-4">Browse More Artwork</a>
</div> 